* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.HOME {
    height: 100vh;
    width: 100%;
    background-color: #101010;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #191919;
    border-bottom: 1px solid red;
}
.LOGO{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: red;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: red;
    transition: 0.5s;
}
.btn {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .5s;
}
.btn:hover {
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
}
.image {
    width: 30%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: rotateY('180deg');
}
.image img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 23%;
    transform: translateX(20%);
}
.content {
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}
h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 65px;
    margin: 20px 0 20px;
}
h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.content a {
    font-size: 20px;
    background: red;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    transition: .5s;
}
.content a:hover {
    background: transparent;
    border : 2px solid red;
}
.ABOUT {
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}
.ABOUT-ME {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.ABOUT-ME img {
    height: auto;
    width: 430px;
    border-radius: 10px;
}
.ABOUT-TEXT {
    width: 550px;
}
.ABOUT-TEXT h2 {
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
}
.ABOUT-TEXT h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.ABOUT-TEXT p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
.button {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}
.button:hover {
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.SERVICE {
    background: #101010;
    width: 100%;
    padding: 100px 0;
}
.title h2 {
    color: white;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height: 365px;
    width: 270px;
    padding: 20px 35px;
    background-image: #141414;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid red;
}
.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: red;
}
.card h5 {
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p { 
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}
.pra p a {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.pra p a:hover {
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.SKILL {
    background: #191919;
    width: 100%;
    padding: 100px 0;
}
.SKILL-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}
.SKILL-bar p {
    text-align: left;
}
.SKILL-box {
    text-align: right;
    width: 100%;
    background-color: black;
}
.HTML {
    width: 90%;
    background-color: red;
}
.CSS {
    width: 80%;
    background-color: red;
}
.Javascript {
    width: 75%;
    background-color: red;
}
.React {
    width: 70%;
    background-color: red;
}
.PHP {
    width: 90%;
    background-color: red;
}
.Python {
    width: 80%;
    background-color: red;
}
.MySQL {
    width: 90%;
    background-color: red;
}
.Firebase {
    width: 70%;
    background-color: red;
}
.Figma {
    width: 70%;
    background-color: red;
}
.Sketch {
    width: 80%;
    background-color: red;
}
.Photoshop {
    width: 70%;
    background-color: red;
}
.CONTACT {
    width: 100%;
    padding: 100px 0;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CONTACT-text h2 {
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.CONTACT-box {
    color: white;
}
.CONTACT-box::after {
    content: '';
    display: block;
    clear: both;
}
.CONTACT {
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.CONTACT h4 {
    color: red;
    padding-bottom: 10px;
}
.CONTACT p {
    font-size: 18px;
}
@media screen and (max-width) {
    .nav-menu ul {
        display:none;
    }
    .menu-toogle{
        display: flex;
    }
    .menu-toggle input:checked ~ul{
        left: 0;
    }
}